<p class='commentable' id="getting">
  This chapter will focus on installation and running Ruby. If you are Sysadmin, you probably know better how to install a software on your own machine, so you can skip to the next chapters. The <%= bob_link_to_chapter :next, 'next' %> chapter will show how to easy install Ruby and related stuff on ordinary user account, without any system privilages. Following chapters describes how to run Ruby script, use the <em>REPL</em> and manage <em>Gems</em>, the ultimate collection of Ruby libraries.
</p>
