<p class='commentable' id="basics">
  This part describes the basics of Ruby language, with syntax, flow control structure and some of the build-in objects and methods. Notice this is not the complete Ruby course, only the parts which might be useful in a daily Admin work. 
</p>
<p class='commentable' id="assumption">
  I assume that the Reader knows Unix Shell scripting, so there is no need to bother with real programming basics, like how <em>if-then-else</em> works. In the same time I do not assume you know Object Oriented programming paradigm. Don't worry, Ruby is easy!
</p>
